In [1]:
#Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
df = pd.read_csv('DataQN-for-ML.csv')
df['time'] = pd.to_datetime(df['time'], format='mixed', utc=True)
df.shape

(8760, 6)

In [21]:
df.head()

,time,rain_fall,temp,humidity,wind_direction,wind_speed
0,2017-01-01 00:00:00+00:00,2.3,21.9,96,MISSING,MISSING
1,2017-01-01 01:00:00+00:00,1.7,21.9,96,WNW,1
2,2017-01-01 02:00:00+00:00,0.0,21.9,96,MISSING,MISSING
3,2017-01-01 03:00:00+00:00,0.2,21.8,95,MISSING,MISSING
4,2017-01-01 04:00:00+00:00,0.0,21.8,95,MISSING,MISSING

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   time            8760 non-null   datetime64[ns, UTC]
 1   rain_fall       8760 non-null   float64
 2   temp            8760 non-null   float64
 3   humidity        8760 non-null   int64
 4   wind_direction  8760 non-null   object
 5   wind_speed      8760 non-null   object
dtypes: datetime64[ns, UTC](1), float64(2), int64(1), object(2)
memory usage: 410.8+ KB

In [23]:
df.describe().T

            count       mean       std   min   25%   50%   75%   max
rain_fall  8760.0   0.350913  2.100442   0.0   0.0   0.0   0.0  58.8
temp       8760.0  26.886952  3.955504  17.0  24.3  26.5  29.3  38.7
humidity   8760.0  88.333562  8.810621  48.0  84.0  92.0  95.0  99.0